<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="spaceBetween title">Pump it up!</h1>
    <!-- <span>Keep track of what your little one eats</span> -->
    <div>
        <a href="/login" class="loginBtn"> Login</a>
        <a href="/signup" class="signupBtn"> Signup</a>
    </div>
    <br>
    <a href="/newToPumping" class="spaceBetween">New to pumping? Click me for more info!</a>
</body>
</html>