<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New to Pumping</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <section>
        <nav class="toggle">
            <!-- three hamburger menu lines -->
            <span></span>
            <span></span>
            <span></span>
        </nav>
        <ul class="navbar">
            <a href="/">
                <li class="nav-list hidden">Main Page</li>
            </a>
        </ul>
    </section>
    <h1 class="title">Lets talk pumping!</h1>
    <div class="center">
        <p class="lets-talk-pumping-paragraph">First and foremost, however you choose to feed your baby is does not
            matter
            as long as they are fed. Each mother
            and baby are different meaning that so are their needs. Breast milk and formula are both equally great
            methods
            of ensuring that your little one continues to be happy and healthy. While some mothers will breast feed
            their
            little one directly, others are able to use formula, exclusively breast pump, or a combination of the two.
            This
            app is simply designed to help keep track of how much they eat and at which times. In addition to offering
            some
            information for those who may be pumping for their first time or just want a better way to track their
            suppy.
        </p>
    </div>
</body>
<script src="js/navbar.js"></script>

</html>