<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postpartum</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Fascinate+Inline&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section>
        <nav class="toggle">
            <!-- three hamburger menu lines -->
            <span></span> 
            <span></span>
            <span></span>
        </nav>
        <ul class="navbar">
            <a href="/pumping"><li class="nav-list hidden">Home</li></a>
            <a href="/quotes"><li class="nav-list hidden">Motivational Quotes</li></a>
            <a href="/postpartum"><li class="nav-list hidden">Postpartum facts</li></a>
        </ul>
    <h1 class="title">Postpartum Facts</h1>
    <script src="js/main.js"></script>
</body>
</html>